* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f3f2;
}

#form-cadasro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 60px;
    border-radius: 32px;
    margin-top: 20px;
    width: 700px;

    input {
        border-radius: 24px;
        padding: 10px;
        width: 80%;
    }

    #btnEnviar {
        padding: 10px;
        width: 50%;
        border-radius: 8px;
        margin-top: 30px;
        background-color: rgb(0, 204, 255);

    }

    #btnLimpar {
        padding: 10px;
        width: 50%;
        border-radius: 8px;
        background-color: rgb(252, 54, 19);
    }
}