* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;
    background-color: #fafafa;
    width: 450px;
    height: 570px;
    border-radius: 24px;
    box-shadow: 0px 4px 12px rgba(102, 126, 234, 0.2);
    overflow: hidden;

    img {
        width: 100%;
        height: 320px;

    }
    position: relative;


}

#off{
    position: absolute;
    left: 15px;
    top: 15px;
    background-color: black;
    color: #fafafa;
    padding: 8px;
    border-radius: 32px;
    font-size: 12px;
    font-weight: 600;
}


.titulo {
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.comprar {
    display: flex;
    justify-content: space-between;
}




#descricao {
    max-width: 370px;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    color: #00000086;
}

.precos {
    margin-left: 1rem;

    #preco-original{
        color: #00000086;
        text-decoration: line-through;

    }

    #preco-promocao {

        h3 {
            font-size: 32px;
            font-weight: 400;

        }
    }
}





#adicionar {

    button {
        padding: 16px 24px;
        border-radius: 12px;
        background-color: black;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        margin-right: 2.5rem;
        cursor: pointer;
    }
}